/* general settings */
body {
    font-family: 'Alegreya', serif;
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: normal;
}

h3 {
    color: white;
    padding: 10px 15px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
    color: gray;
}

a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

a:hover {
    color: black;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.clean-fix {
    clear: both;
}

/* nav bar */
.nav-bar {
    background-color: white;
    font-size: 18px;
    width: 100%;
}

.container {
    width: 70%;
    margin: auto;
}

.nav-bar .logo {
    float: left;
}

.nav-bar .content {
    float: right;
}

.nav-bar .logo img {
    margin-top: 5px;
    width: 50%;
    vertical-align: baseline;
    filter: invert(49%) sepia(26%) saturate(584%) hue-rotate(346deg) brightness(92%) contrast(87%);
    ;
}

.active a {
    color: #977456;
}

.nav-bar ul li.active {
    border-color: #977456;
}

.nav-bar ul li {
    border-top: 5px solid transparent;
    float: left;
    color: gray;
    padding: 20px 10px;
}

/* landing */
.landing {
    display: inline-block;
    width: 100%;
    margin: auto;
    background-image: url(../image/landing-3.jpg);
    background-size: cover;
    background-position: 100% 50%;
    height: 750px;
    font-size: 25px;
    text-align: center;
    color: white;
}

.landing-content {
    padding: 160px;
}

.landing h1 {
    margin: 10px 30px;
    font-size: 80px;
}

.landing p {
    color: white;
    font-size: 22px;
    margin: 0 auto 30px auto;
    width: 35%;
}

.learn-btn,
.contact-btn {
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    color: white;
    border-radius: 6px;
    border-color: transparent;
    padding: 20px 20px;
}

.learn-btn {
    background-color: #977456;
}

.contact-btn {
    border: 2px solid white;
}

/* who we are */
.who-we-are {
    padding: 80px 0px;
}

.who-we-are .image {
    width: 50%;
    vertical-align: middle;
    margin-right: 60px;
    display: inline-block;
}

.who-we-are-content {
    vertical-align: middle;
    width: 45%;
    display: inline-block;
}

.who-we-are .container img {
    width: 100%;
}

.who-we-are li {
    margin-bottom: 15px;
}

.who-we-are i {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: #977456;
    text-align: center;
    line-height: 40px;
    border: 1px solid #977456;
}

.who-we-are span {
    font-size: 20px;
    color: gray;
}

/* our location */
.our-location {
    padding: 80px 0px;
    background-color: #EEE;
}

.our-location .our-location-content {
    vertical-align: middle;
    width: 45%;
    display: inline-block;
}

.our-location iframe {
    width: 50%;
    vertical-align: middle;
    margin-left: 60px;
    display: inline-block;
}

/* our-baking */
.our-baking {
    padding: 80px 0px;
    text-align: center;
}

.gallary-item {
    margin-top: 40px;
    float: left;
    width: 33.33%;
}

.last {
    margin-right: 0;
}

.our-baking p {
    text-align: center;
    width: 90%;
    margin: auto;
}

.our-baking img {
    width: 90%;
}

/* contact-info */
.contact-info {
    padding: 80px 0px;
    background-color: #EEE;
}

.contact-info .contact-info-content {
    float: left;
    width: 40%;
}

.contact-info .image {
    width: 55%;
    float: right;
}

.contact-info img {
    max-width: 100%;
}

.contact-info span {
    color: gray;
    font-size: 18px;
}

.contact-info ul {
    margin-top: 20px;
}

.contact-info i {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #977456;
    text-align: center;
    line-height: 40px;
    margin-bottom: 15px;
    margin-right: 10px;
}

/* footer */
footer .top li {
    padding: 15px 0px;
    margin: 0px 15px;
    border-bottom: 1px solid #4a4742;
}

footer li.last {
    border: none;
}

footer .top {
    color: gray;
    padding: 50px 0px;
    background-color: #403d38;
}

footer .top .contact-details,
footer .top .about-us,
footer .top .why,
footer .top .opening-hours {
    float: left;
    width: 25%;
}

.about-h3 {
    padding-left: 0px;
}

footer .top p {
    line-height: 30px;
    font-size: 16px;
}

footer .top i {
    margin-right: 5px;
}

footer .bottom {
    color: gray;
    text-align: center;
    background-color: #353330;
    padding: 70px 0;
}

footer .bottom .copy-rights {
    margin-top: 25px;
}

footer .bottom li {
    padding: 0;
    float: left;
}

footer .bottom ul {
    width: fit-content;
    margin: auto;
    text-align: center;
}

/* footer .bottom .facebook{
    margin-left: auto;
} */
footer .bottom ul i {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background-color: #484540;
    margin-right: 10px;
    margin-top: 15px;
}